<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine on
RewriteBase /~nikker/cis451/final

# Set some rewrite environment vars
RewriteRule ^.*$ - [E=STRIPPED_REQUEST:$0]
RewriteRule . - [E=HOME_DIR:/home/users/nikker]
RewriteRule . - [E=SITE_BASE:%{ENV:HOME_DIR}/public_html/cis451/final]

# Serve things in the statics directory as if they were at the root
RewriteCond %{ENV:SITE_BASE}/static/%{ENV:STRIPPED_REQUEST} -f
RewriteRule ^.*$ static/$0 [L]

# Redirect everything else through the index file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
